h1 {font-family: 'Oswald', sans-serif; font-weight: 700; font-size: 40px; color: rgb(251, 176, 59); 
    line-height: 45px;
    position: relative; bottom: 50px;}

.logo { width: 100px;
        position: relative; 
        top: 50px;}

nav { font-family: 'Oswald', sans-serif; font-weight: 500;
      font-size: 25px;
      } 

li { list-style: none;}

h2 { font-family: 'Oswald', sans-serif; font-weight: 700; color: rgb(237,28,36);} 

header { font-family: 'Oswald', sans-serif; font-weight: 500; color: rgb(158, 0, 93);}

p { font-family: 'Oswald', sans-serif; font-weight: 100;
    color: rgb(68, 57, 64);} 

footer { font-family: 'Oswald', sans-serif;
        background-color: rgb(237,28,36); color: white;
        padding: 20px;}

h3 { font-family: 'Oswald', sans-serif; font-weight: 500; color: rgb(158,0, 93);}

form { font-family: 'Oswald', sans-serif; font-weight: 500; 
      color: white; background-color: rgb(251, 176, 59);
      padding: 20px;} 

.submit { background: transparent;
          border: 0;
          font-family: 'Oswald', sans-serif; font-weight: 700; font-size: 15px;
          color: rgb(237, 28, 36);}

.button-reset {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  text-align: inherit;
} 

.button {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 50px;
  letter-spacing: 1px;
  padding: 24px 18px; 
  font-family: 'Oswald', sans-serif; font-weight: 700;
  position: relative; 
  top: 325px;
  left: 10px;
  
  
} 
.purchaseimg { width: 75px;}
.purchase { position: fixed; 
            bottom: 50px; 
            right: 20px;
            background: transparent; 
            border: 0; }



