h1 {font-family: 'Oswald', sans-serif; font-weight: 700; font-size: 40px; color: rgb(251, 176, 59); 
    line-spacing: 5px;
    position: relative; bottom: 50px;}

.logo { width: 100px;
        position: relative; 
        top: 50px;}

nav { font-family: 'Oswald', sans-serif; font-weight: 500;}

h2 { font-family: 'Oswald', sans-serif; font-weight: 700;} 

header { font-family: 'Oswald', sans-serif; font-weight: 500;}

p { font-family: 'Oswald', sans-serif; font-weight: 100;} 

footer { font-family: 'Oswald', sans-serif;}

h3 { font-family: 'Oswald', sans-serif; font-weight: 500;}

form { font-family: 'Oswald', sans-serif; font-weight: 500;} 

.jc { 
  background-color: none;
  border: none;
  font-family: 'Oswald', sans-serif; font-weight: 500;
  color: white;
  padding: 25px;
  text-align: center;
  font-size: 16px;}

